.cloud {
  /* Frame */

position: absolute;
width: 185px;
height: 101px;
left: 508px;
top: 382px;



/* Group */

position: absolute;
left: 0.01%;
right: 0.03%;
top: 0.02%;
bottom: -0.02%;



/* Layer 1 */

position: absolute;
left: 0.01%;
right: 0.03%;
top: 0.02%;
bottom: -0.02%;



/* Vector */

position: absolute;
left: 0.01%;
right: 0.03%;
top: 0.02%;
bottom: -0.02%;

background: #AAAAAA;


/* Vector */

position: absolute;
left: 1.29%;
right: 1.21%;
top: 1.67%;
bottom: 1.37%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 1.29%;
right: 1.24%;
top: 31.58%;
bottom: 1.43%;

background: #EDEDED;
mix-blend-mode: multiply;


/* PLOT */

position: absolute;
left: 35.14%;
right: 36.22%;
top: 41.58%;
bottom: 38.61%;

font-family: 'Short Stack';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-align: center;

color: #000000;


}